NEXT_PUBLIC_APP_NAME=LUXIA
NEXT_PUBLIC_APP_DESCRIPTION=AI Virtual Try-On Administration
NEXT_PUBLIC_DEFAULT_LOCALE=es
NEXT_PUBLIC_SUPPORTED_LOCALES=es,en

BACKEND_API_URL=http://127.0.0.1:8001
AUTH_ACCESS_COOKIE_NAME=luxia_admin_access
AUTH_REFRESH_COOKIE_NAME=luxia_admin_refresh
AUTH_ACCESS_COOKIE_MAX_AGE=1800
AUTH_REFRESH_COOKIE_MAX_AGE=2592000